<!DOCTYPE html>
<html>
<head>
    <title>Connections</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<!--Include Bootstrap in imports-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<!--Multiple select script imports-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!--Default style-->
<link rel="stylesheet" type="text/css" href="/styles/styles.css">

<!--Navigation Bar-->
<%- include('navbar.ejs') %>

<script>
    window.addEventListener('load', function () {
        document.body.style.cursor = 'default';
    });

    function deleteFriendReq() {
        var friendToDel = document.getElementById('friendToDel').value;
        document.body.style.cursor = 'wait';
        
        $.ajax({
            type: 'POST',
            url: '/deleteFriendRequest',
            data: { friendToDel: friendToDel },
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error(error);
            },
            complete: function () {
                document.body.style.cursor = 'default';
            }
        });
    }

    function addFriend() {
        var friendToAdd = document.getElementById('friendToAdd').value;
        document.body.style.cursor = 'wait';
        
        $.ajax({
            type: 'POST',
            url: '/addFriend',
            data: { friendToAdd: friendToAdd, friendToDel: friendToAdd },
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error(error);
            },
            complete: function () {
                document.body.style.cursor = 'default';
            }
        });
    }

    function deleteFriend() {
        var friendToDel = document.getElementById('friendToDel').value;
        document.body.style.cursor = 'wait';
        
        $.ajax({
            type: 'POST',
            url: '/deleteFriend',
            data: { friendToDel: friendToDel },
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error(error);
            },
            complete: function () {
                document.body.style.cursor = 'default';
            }
        });
    }
</script>

<body>
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Left Column: Friends -->
            <div class="col-md-6">
                <h2 class="text-center">Friends</h2>
                <div class="mt-4" style="height: 80vh; overflow-y: auto; border-right: 2px dotted #000;">
                    <ul id="friendsList">
                        <%for (var i = 0; i < friends.length; i++) {%>
                            <li class="row mb-3">
                                <a class="col-9 d-flex align-items-center" href="/otherProfile?friendId=<%=friends[i].userB.S%>"><%=friends[i].userB.S%></a>
                                <div class="col-2 d-flex">
                                    <div class="ml-1" style="float:right">
                                        <input type="hidden" id="friendToDel" value="<%= friends[i].userB.S %>">
                                        <button class="btn btn-danger" id="deleteFriend" onclick="deleteFriend()">Delete  Friend</button>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>

            <!-- Right Column: Incoming Friend Requests -->
            <div class="col-md-6">
                <h2 class="text-center">Incoming Friend Requests</h2>
                <div class="mt-4" style="height: 80vh; overflow-y: auto;">
                    <ul id="incomingRequestsList">
                        <%for (var i = 0; i < requests.length; i++) {%>
                            <li class="row mb-3">
                                <div class="col-9 align-items-center d-flex">
                                    <a href="/otherProfile?friendId=<%= requests[i].userA.S %>"><%= requests[i].userA.S %></a>
                                </div>
                                <div class="col-3 d-flex">
                                    <div style="float:right">
                                        <input type="hidden" id="friendToAdd" value="<%= requests[i].userA.S %>">
                                        <button class="btn btn-success" id="acceptFriend" onclick="addFriend()">Accept</button>
                                    </div>
                                    <div class="ml-1" style="float:right">
                                        <input type="hidden" id="friendToDel" value="<%= requests[i].userA.S %>">
                                        <button class="btn btn-danger" id="deleteFriend" onclick="deleteFriendReq()">Delete</button>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>