<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<!--Include Bootstrap in imports-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<!--Multiple select script imports-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!--Default style-->
<link rel="stylesheet" type="text/css" href="/styles/styles.css">

<!--Navigation Bar-->
<%- include('navbar.ejs') %>

<style>
    body {
        overflow-y: scroll; /* Enable vertical scroll */
        height: 100vh; /* Set the body height to 100% of the viewport height */
    }
</style>

<script>
    var startY;
    var distY;

    function autoExpand(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px';
    }

    document.addEventListener('DOMContentLoaded', function () {
        var profileLink = document.querySelector('a[href="/profile"]');
        profileLink.addEventListener('click', function (event) {
                document.body.style.cursor = 'wait';
            });
        document.getElementById("postAnnouncementBox").style.display = "none";
        var announcementTitleInput = document.getElementById("announcementTitleInput");

        announcementTitleInput.addEventListener('input', function () {
            if (announcementTitleInput.value.trim() !== '') {
                announcementTitleInput.classList.add('announcementTitleText');
            } else {
                announcementTitleInput.classList.remove('announcementTitleText');
            }
        });

        var announcementContent = document.getElementById("announcementContent");

        announcementContent.addEventListener('input', function () {
            if (announcementContent.value.trim() !== '') {
                announcementContent.classList.add('announcementContent');
            } else {
                announcementContent.classList.remove('announcementContent');
            }
        });

        announcementContent.addEventListener('input', function () {
            autoExpand(announcementContent);
        });

        document.addEventListener('wheel', function (e) {
            if (e.deltaY > 50) {
                // If the user has scrolled down by at least 50 pixels using the scroll wheel, trigger the refresh action
                location.reload(); // You can replace this with your custom refresh logic
            }
        });
    });

    window.addEventListener('load', function () {
        document.body.style.cursor = 'default';
    });

    function postAnnouncement() {
        var postBox = document.getElementById("postAnnouncementBox");
        postBox.style.display = 'block';

        var postShow = document.getElementById("postShowButton");
        postShow.style.display = 'none';
    }

    function closeAnnouncementBox() {
        var shouldDiscard = window.confirm("Are you sure you want to discard your post?");
        if (shouldDiscard) {
            var postBox = document.getElementById("postAnnouncementBox");
            document.getElementById('announcementSearchInput').value = '';
            document.getElementById('announcementContent').value = '';
            postBox.style.display = 'none';

            var postShow = document.getElementById("postShowButton");
            postShow.style.display = 'inline';
        }
    }

    function filterAnnouncements() {
        var input, filter, cards, title, i;
        input = document.getElementById("announcementSearch");
        filter = input.value.toUpperCase();
        cards = document.querySelectorAll(".card");

        cards.forEach(function (card) {
            title = card.querySelector(".announcement-title");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                card.style.display = "";
            } else {
                card.style.display = "none";
            }
        });
    }

    function post() {
        document.body.style.cursor = 'wait';
        document.getElementById("postAnnouncementButton").disabled = true;
        var announcementContent = document.getElementById("announcementContent").value;
        var announcementTitle = document.getElementById("announcementTitleInput").value;
        $.ajax({
            type: 'POST',
            url: '/postAnnouncement',
            data: { content: announcementContent, title: announcementTitle },
            success: function (response) {
                document.body.style.cursor = 'default';
                location.reload();
            },
            error: function (error) {
                console.error(error);
            },
            complete: function () {
                document.body.style.cursor = 'default';
            }
        });
    }
</script>

<body>
    <div class="align-items-center d-flex">
        <div class="col-12 text-center font-weight-bold" style="margin-top: 20px; font-size: 35px">Announcements</div>
    </div>

    <div class="mt-3 col-6 mx-auto d-flex justify-content-between">
        <div class="col-2"></div>
        <div class="col-8 d-flex">
            <input type="text" id="announcementSearchInput" placeholder="Search for announcements..."
                class="form-control col-9">
            <button class="btn btn-primary col-2 ml-1" onclick="filterAnnouncements()">Search</button>
        </div>
        <div class="col-2 text-right align-self-center">
            <button class="btn btn-primary col-8" onclick="postAnnouncement()" id="postShowButton">
                <a>Post</a>
            </button>
        </div>
    </div>

    <div class="pt-1 col-9 mt-4" style="margin: 0 auto">
        <div id="postAnnouncementBox" class="card mt-3 col-8" style="border-radius: 10px; display: block; margin: 0 auto">
            <div class="col-12 mt-2" style="padding: 0">
                <input id="announcementTitleInput" class="col-10 mt-2" placeholder="Announcement Title" style="border: none; padding: 0; font-size: 20px">
                <button id="removePostIcon" type="button" class="btn btn-sm btn-danger mr-1 mt-1" style="float: right" onclick="closeAnnouncementBox()">X</button>
            </div>
            <textarea id="announcementContent" class="col-12 mt-2" placeholder="What do you have on your mind?" style="border: none; padding: 0; font-size: 1rem; resize: none; overflow-y: hidden;"></textarea>
            <div class="col-12 text-right mt-2 mb-3" style="padding: 0">
                <button class="btn btn-primary" onclick="post()" id="postAnnouncementButton">Post</button>
            </div>
        </div>
        <% for (var i = 0; i < posts.length; i++) { %>
            <div class="card mt-3 col-8" style="border-radius: 10px; display: block; margin: 0 auto">
                <div class="announcement-title mt-2">
                    <a class="announcementTitleText" href="/announcement?id=<%= posts[i].announcementId%>"><%= posts[i].announcementTitle %></a>
                </div>
                <div class="d-flex justify-content-between mt-1">
                    <div class="announcement-date">Date: <%= posts[i].announcementDateTime %></div>
                    <a class="announcement-user" href="/otherProfile?friendId=<%= posts[i].userCreated %>"><%= posts[i].userCreated %></a>
                </div>
                <div class="announcement-contents mt-3 mb-2"><%= posts[i].contents %></div>
                <input type="hidden" class="announcement-tags" value="<%= JSON.stringify(posts[i].tags) %>">
            </div>
        <% } %>
    </div>
</body>