<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<!--Include Bootstrap in imports-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<!--Multiple select script imports-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!--Default style-->
<link rel="stylesheet" type="text/css" href="/styles/styles.css">

<script>
    window.addEventListener('load', function () {
        document.body.style.cursor = 'default';
    });

    function toggleEdit() {
        var inputs = document.querySelectorAll("input[readonly]");
        var textareas = document.querySelectorAll("textarea[readonly]");
        var editForm = document.getElementById("editForm");
        var buttons = document.getElementById("buttons");
        var interestAddArea = document.getElementById("interestAddField");

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute("readonly");
        }

        for (var i = 0; i < textareas.length; i++) {
            textareas[i].readOnly = false;
        }

        buttons.style.display = "block";
        interestAddArea.style.display = "block";

        if (document.getElementById("resume")) {
            document.getElementById("resumeInput").style.display = "block";
            document.getElementById("resumeView").style.display = "none";
        }

        if (document.getElementById("orgWebsiteView")) {
            document.getElementById("orgWebsiteInput").style.display= "block";
            document.getElementById("orgWebsiteView").style.display = "none";
        }

        showInterestRemoveButtons();
    }

    function discardChanges(event) {
        var discarded = confirm("Discard changes? (Yes/No)");
        event.preventDefault();
        if (discarded) {
            var editForm = document.getElementById("editForm");
            var buttons = document.getElementById("buttons");
            var interestAddArea = document.getElementById("interestAddField");

            //document.getElementById("usernameInput").value = "<%= userId %>";
            document.getElementById("firstNameInput").value = "<%= data.firstName.S %>";
            document.getElementById("lastNameInput").value = "<%= data.lastName.S %>";
            
            if (document.getElementById("orgWebsiteInput")) {
                document.getElementById("orgWebsiteInput").style.display= "none";
                document.getElementById("orgWebsiteView").style.display = "block";
                document.getElementById("orgWebsiteInput").value = "<%= data.orgWebsite.S %>";
                document.getElementById("orgDescriptionInput").value = "<%= data.orgDescription.S %>";
                document.getElementById("orgWebsiteInput").setAttribute("readonly", "readonly");
                document.getElementById("orgDescriptionInput").setAttribute("readonly", "readonly");
            }

            if (document.getElementById("resume")) {
                document.getElementById("resumeInput").style.display = "none";
                document.getElementById("resumeView").style.display = "block";
            };

            //document.getElementById("usernameInput").setAttribute("readonly", "readonly");
            document.getElementById("firstNameInput").setAttribute("readonly", "readonly");
            document.getElementById("lastNameInput").setAttribute("readonly", "readonly");

            buttons.style.display = "none";
            interestAddArea.style.display = "none";

            loadInterests();
            hideInterestRemoveButtons();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        var interestsData = '<%= data.interests.S %>';
        var hiddenInterestsContainer = document.getElementById('hiddenInterests');
        hiddenInterestsContainer.value = interestsData;

        var submitButton = document.getElementById("submitButton");
        submitButton.addEventListener('click', function () {
            document.body.style.cursor = 'wait';
        });

        loadInterests();
        hideInterestRemoveButtons();
    });

    function loadInterests() {
        var interestsData = '<%= data.interests.S %>'; // Get the interests data from the server
        var interestsList = document.getElementById('interestsList');
        var interestsTextarea = document.getElementById('interests');
        var interestsAddButton = document.getElementById('interestsAddButton');
        var hiddenInterestsContainer = document.getElementById('hiddenInterests');
        var interestAddArea = document.getElementById("interestAddField");

        interestsList.innerHTML = '';
        interestAddArea.style.display = "none";

        // Display interests based on the provided data
        if (interestsData.trim() !== '') {
            var interestsArray = interestsData.split('.'); // Split interests based on the delimiter
            interestsArray = interestsArray.filter(function (interest) {
                return interest.trim() !== ''; // Filter out empty interests
            });

            interestsArray.forEach(function (interest) {
                addInterestToList(interest);
            });
        }

        interestsAddButton.addEventListener('click', function () {
            var newInterest = " I am interested in " + interestsTextarea.value.trim();

            if (newInterest !== '' && !isInterestAlreadyAdded(newInterest)) {
                addInterestToList(newInterest);
                hiddenInterestsContainer.value = hiddenInterestsContainer.value + newInterest + '.';

                interestsTextarea.value = '';
            }
        });
    }

    // Function to remove interest from the list
    function removeInterest (button) {
            var interestItem = button.parentNode;
            var interestText = " I am interested in " + interestItem.querySelector('span').textContent;
            var interestText = interestText.trim().replace(/\s+/g, ' ');

            // Remove from hidden input
            var hiddenInterestsContainer = document.getElementById('hiddenInterests');
            hiddenInterestsContainer.value = hiddenInterestsContainer.value.replace(interestText + '.', '');

            interestItem.parentNode.removeChild(interestItem);
        };

    function isInterestAlreadyAdded(interest) {
        var existingInterests = interestsList.getElementsByTagName('span');

        for (var i = 0; i < existingInterests.length; i++) {
            if (existingInterests[i].textContent.toLowerCase() === interest.toLowerCase()) {
                alert('Interest already added.');
                return true;
            }
        }

        return false;
    }

    function addInterestToList(interest) {
        var formattedInterest = interest.replace("I am interested in ", "");
        var interestItem = document.createElement('li');
        
        interestItem.innerHTML = '<span>' + formattedInterest + '</span><button type="button" class="btn btn-sm btn-danger ml-2 mb-2 interest-remove-button"" onclick="removeInterest(this)">X</button>';
        interestsList.appendChild(interestItem);
    }

    // Function to show interest-remove-button
    function showInterestRemoveButtons() {
        var interestRemoveButtons = document.querySelectorAll(".interest-remove-button");
        for (var i = 0; i < interestRemoveButtons.length; i++) {
            interestRemoveButtons[i].style.display = "inline";
        }
    }

    // Function to hide interest-remove-button
    function hideInterestRemoveButtons() {
        var interestRemoveButtons = document.querySelectorAll(".interest-remove-button");
        for (var i = 0; i < interestRemoveButtons.length; i++) {
            interestRemoveButtons[i].style.display = "none";
        }
    }
</script>

<!--Navigation Bar-->
<%- include('navbar.ejs') %>

<body>
    <div class="align-items-center d-flex">
        <div class="col-12 text-center font-weight-bold" style="margin-top: 20px; font-size: 35px"><%= userId %>'s Page</div>
    </div>

    <div class="col-9 mt-3 pt-1 text-right" style="margin: 0 auto">
        <a href="javascript:void(0)" onclick="toggleEdit()">Edit</a>
    </div>
    <div class="pt-1 col-9 mt-1" style="margin: 0 auto; border: 2px solid #000; padding: 20px">
        <form id="editForm" enctype="multipart/form-data" method="post" action="/updateProfile">
            <!--
            <div class="row mb-3 mt-3 form-group">
                <a class="col-sm-6" style="font-weight: bold" title="username">Username:</a>
                <input name="userId" class="col-sm-6" type="text" id="usernameInput" value="<%= userId %>" readonly />
            </div>
            -->
            <div class="form-group" style="display: none">
                <input type="text" name="interests" class="form-control" id="hiddenInterests" readonly>
            </div>
            <div class="row mb-3 mt-3 form-group">
                <a class="col-sm-6" style="font-weight: bold" title="firstName">First Name:</a>
                <input name="firstName" class="col-sm-6" type="text" id="firstNameInput" value="<%= data.firstName.S %>" readonly />
            </div>
            <div class="row mb-3 form-group">
                <a class="col-sm-6" style="font-weight: bold" title="lastName">Last Name:</a>
                <input name="lastName" class="col-sm-6" type="text" id="lastNameInput" value="<%= data.lastName.S %>" readonly />
            </div>
            <div class="row mb-3 form-group">
                <a class="col-sm-6" style="font-weight: bold" title="userType">Account Type:</a>
                <span class="col-sm-6"><%= data.userType.S %></span>
            </div>
            
            <div class="row mb-3 form-group" id="resume">
                <a class="col-sm-6" style="font-weight: bold" title="firstName">Resume:</a>
                <% if (resume) {%>
                    <a class="col-sm-6" id="resumeView" href=<%=resume%>>Download</a>
                <%} else {%>
                    <a class="col-sm-6" id="resumeView">None</a>
                <%}%>
                <input name="resumeInput" type="file" style="display: none" class="col-sm-6" id="resumeInput" accept=".pdf, .doc, .docx" style="display: none" />
            </div>
            <% if (orgWebsite) {%>
                <div class="row mb-3 form-group">
                    <a class="col-sm-6" style="font-weight: bold" title="orgWebsite">Organization Website:</a>
                    <a class="col-sm-6" id="orgWebsiteView" href=<%=orgWebsite%>><%=orgWebsite%></a>
                    <input name="orgWebsite" class="col-sm-6" type="text" id="orgWebsiteInput" value="<%= data.orgWebsite.S %>" style="display: none" />
                </div>
                <div class="row mb-3 form-group">
                    <a class="col-sm-6" style="font-weight: bold" title="orgDescription">Organization Website:</a>
                    <textarea name="orgDescription" class="col-sm-6" id="orgDescriptionInput" rows="4" readonly><%= data.orgDescription.S %></textarea>
                </div>
            <%}%>
            <div class="row mb-3 mt-3 form-group">
                <a class="col-6" style="font-weight: bold" title="interests">Interests:</a>
                <div class="col-6">
                    <div id="interestAddField">
                        <div class="row d-flex">
                            <div class="col-9">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="interests"/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success" id="interestsAddButton">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul id="interestsList" class="list-unstyled mt-2"></ul>
                    </div>
                </div>
            </div>
            <div id="buttons" style="display: none;">
                <button class="btn btn-primary" type="submit" id="submitButton">Confirm Edits</button>
                <button class="btn btn-secondary" onclick="discardChanges(event)">Discard Changes</button>
            </div>
        </form>
    </div>
</body>