<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<!--Include Bootstrap in imports-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<!--Multiple select script imports-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!--Default style-->
<link rel="stylesheet" type="text/css" href="/styles/styles.css">

<!--Navigation Bar-->
<%- include('navbar.ejs') %>

<script>
    window.addEventListener('load', function () {
        document.body.style.cursor = 'default';
    });

    function sendFriendReq() {
        document.body.style.cursor = 'wait';
        document.getElementById("addFriendButton").disabled = true;
    }

    function deleteFriendReq() {
        var shouldDiscard = window.confirm("Are you sure you want to remove this request?");
        if (shouldDiscard) {
            var friendToDel = '<%= viewId %>';
            document.body.style.cursor = 'wait';
            
            $.ajax({
                type: 'POST',
                url: '/deleteFriendRequestSelf',
                data: { friendToDel: friendToDel },
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    console.error(error);
                },
                complete: function () {
                    document.body.style.cursor = 'default';
                }
            });
        }
    }

    function deleteFriend() {
        var shouldDiscard = window.confirm("Are you sure you want to remove this request?");
        if (shouldDiscard) {
            var friendToDel = '<%= viewId %>';
            document.body.style.cursor = 'wait';
            
            $.ajax({
                type: 'POST',
                url: '/deleteFriendRequest',
                data: { friendToDel: friendToDel },
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    console.error(error);
                },
                complete: function () {
                    document.body.style.cursor = 'default';
                }
            });
        }
    }

    function addFriend() {
        var friend = '<%= viewId %>'
        document.body.style.cursor = 'wait';
        
        $.ajax({
            type: 'POST',
            url: '/addFriend',
            data: { friendToAdd: friend, friendToDel: friend },
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error(error);
            },
            complete: function () {
                document.body.style.cursor = 'default';
            }
        });
    }
</script>

<body>
    <div class="align-items-center d-flex">
        <div class="col-12 text-center font-weight-bold" style="margin-top: 20px; font-size: 35px"><%= viewId %>'s Page</div>
    </div>

    <div id="friendStatus" class="mt-2 col-9 text-right" style="margin: 0 auto">
        <% if (friend == 2) { %>
            <div class="align-items-center d-flex justify-content-end">
                <a>Friend Request Sent</a>
                <button id="removeRequest" type="button" class="btn btn-sm btn-danger ml-2" onclick="deleteFriendReq()">X</button>
            </div>
        <%} else if (friend == 1) {%>
            <div class="align-items-center d-flex justify-content-end">
                <a class="mr-2">Incoming Friend Request</a>
                <div style="display: flex; align-items: center;">
                    <button class="btn btn-success ml-2" id="acceptFriend" onclick="addFriend()">Accept</button>
                </div>
                <div style="display: flex; align-items: center;">
                    <button class="btn btn-danger ml-1" id="deleteFriend" onclick="deleteFriend()">Delete</button>
                </div>
            </div>
        <%} else if (friend == 0) { %>
            <form action="/sendFriendRequest" method="post" onsubmit="sendFriendReq()">
                <input type="hidden" name="currentUser" value="<%= userId %>">
                <input type="hidden" name="friendToAdd" value="<%= viewId %>">
                <button class="btn btn-secondary" type="submit" id="addFriendButton">Add Friend</button>
            </form>
        <%} else { %>
            Friend since <%=friend%>
        <%}%>
    </div>

    <div class="pt-1 col-9 mt-2" style="margin: 0 auto; border: 2px solid #000; padding: 20px">
        <div class="row mb-3 mt-3 form-group">
            <a class="col-sm-6" style="font-weight: bold" title="firstName">First Name:</a>
            <input name="firstName" class="col-sm-6" type="text" id="firstNameInput" value="<%= data.firstName.S %>" readonly />
        </div>
        <div class="row mb-3 form-group">
            <a class="col-sm-6" style="font-weight: bold" title="lastName">Last Name:</a>
            <input name="lastName" class="col-sm-6" type="text" id="lastNameInput" value="<%= data.lastName.S %>" readonly />
        </div>
        <div class="row mb-3 form-group">
            <a class="col-sm-6" style="font-weight: bold" title="userType">Account Type:</a>
            <span class="col-sm-6"><%= data.userType.S %></span>
        </div>
        <% if (resume) {%>
            <div class="row mb-3 form-group" id="resume">
                <a class="col-sm-6" style="font-weight: bold" title="firstName">Resume:</a>
                <a class="col-sm-6" id="resumeView" href=<%=resume%>>Download</a>
            </div>
        <%}%>
        <% if (orgWebsite) {%>
            <div class="row mb-3 form-group">
                <a class="col-sm-6" style="font-weight: bold" title="orgWebsite">Organization Website:</a>
                <a class="col-sm-6" id="orgWebsiteView" href=<%=orgWebsite%>><%=orgWebsite%></a>
            </div>
            <div class="row mb-3 form-group">
                <a class="col-sm-6" style="font-weight: bold" title="orgDescription">Organization Website:</a>
                <textarea name="orgDescription" class="col-sm-6" id="orgDescriptionInput" rows="4" readonly><%= data.orgDescription.S %></textarea>
            </div>
        <%}%>
    </div>
</body>